.country {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: inherit;
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.country.visited {
  background-color: #a5d6a7;
}

.country.visited:hover {
  background-color: #c8e6c9;
}

.country.visited:focus {
  background-color: #81c784;
  outline:0;
}

.country.unvisited {
  background-color: #eee;
}

.country.unvisited:hover {
  background-color: #f5f5f5;
}

.country.unvisited:focus {
  background-color: #ddd;
  outline:0;
}
