.traveler-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visited-countries-count {
  font-size: 60px;
  margin: 0;
}

.visited-countries-percentage {
  margin: 0;
}

.continent-breakdown {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}